header{
    padding: 2rem 5rem;
}
.header-card{
     position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width:75%;
    padding: 20px 60px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    z-index: 10;
    background: white;
}
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .navbar h1{
    font-weight: 500;
    font-size: 300%;
 }
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.contact-btn{
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.main-container{
    width: 110%;
    height: 15rem;
}
.hero{
    position: relative;
    background: url(./image/59ddfecaeb2a99ca36889ed7a46583c2.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-content h2{
    font-size: 65px;
    color: white;
    animation: pulse 2s ease-in-out infinite alternate;
}
.hero-content span{
    color: orange;
}
.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}
.card{
    background: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    display: grid;
}
.card img{
    width: 50px;
    margin-bottom: 10px;
}
.card a{
    text-decoration: none;
    font-weight: bold;
}